</main>
<footer style="
clear:both;
text-align: center;
bottom: 0;
width: 100%;
height: 2.5rem;
position:absolute;
color: #604CC3;">

   <p class="copyright"> Made with &#128151 in Novi Sad </p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>